<ion-tabs class="tabs-light tabs-icon-bottom " >
    <ion-tab  title="Home"
              icon-on="icon ion-home orange-ft"
              icon-off="icon ion-home"
              ui-sref="tabs.home"
    >
        <ion-nav-view name="tabs-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="User"
             icon-on="icon ion-person orange-ft"
             icon-off="icon ion-person"
             ui-sref="tabs.user"
    >
        <ion-nav-view name="tabs-user"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Show"
             icon-on="icon ion-android-camera orange-ft"
             icon-off="icon ion-android-camera"
             ui-sref="tabs.offers"
    >
        <ion-nav-view name="tabs-offers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My-Cart"
             icon-on="icon ion-android-cart orange-ft"
             icon-off="icon ion-android-cart"
             ui-sref="tabs.my-cart"
    >
        <ion-nav-view name="tabs-mycart"></ion-nav-view>
    </ion-tab>

</ion-tabs  >