<ion-view title="商品分类">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <ion-nav-back-button>返回</ion-nav-back-button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-bell button-clear" badge="5"></button>
            <button class="button button-icon ion-android-search button-clear"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
   newstyle
    </ion-content>
</ion-view>