<ion-view title="Tour" >
    <ion-nav-buttons side="right">
        <button class="button button-clear"
                ui-sref="tabs.home">进入</button>
    </ion-nav-buttons>
    <ion-slide-box>
        <ion-slide>
            <img src="images/tour03.jpg" alt="">
        </ion-slide>
        <ion-slide>
            <img src="images/tour02.jpg" alt="">
        </ion-slide>
        <ion-slide>
            <img src="images/banner01_03.jpg" alt=""  style="width: 100%;height: 100%">
        </ion-slide>
        <ion-slide>
            <img src="images/banner02_03.jpg" alt="" style="width: 100%">
        </ion-slide>
        <ion-slide>
            <img src="images/banner03_03.jpg" alt="" style="width: 100%">
        </ion-slide>
        <ion-slide>
            <img src="images/banner02_03.jpg" alt="" style="width: 100%">
        </ion-slide>
        <ion-slide>
            <img src="images/banner04_04.jpg" alt="" style="width: 100%">
        </ion-slide>
    </ion-slide-box>
</ion-view>