<ion-view title="Show">
    <ion-content>
    <div class="list card">
        <ion-item class="item-avatar-left margin-tb-10">

                <img class="icon ion-minus-circled" src="images/touxiang.jpg" style="border: 0">
                <h2 class="title">用户00012312312</h2>
                <p>评价：这款式非常棒，质量也非常不错还会继续关注这家店面的</p>

            <div class="item">
                <img src="images/show01.jpg" width="100%">
            </div>
            <div class="item tabs tabs-icon-left">
                <div class="tab-item">
                    <a class="icon ion-thumbsup assertive"></a>
                </div>
                <div class="tab-item">
                    <a class="icon ion-chatbox energized"></a>
                </div>
                <div class="tab-item">
                    <a class="icon ion-share bar-balanced"></a>
                </div>
            </div>
        </ion-item>
    </div>







    </ion-content>
</ion-view>